<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>FACTURA</b> <span class="pull-right">#5669626</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            <h3> &nbsp;<b class="text-danger">LA HERRADURA BOOTS</b></h3>
                            <p class="text-muted m-l-5">C. Libertad No. 608 Col.Centro
                                <br/> Chihuahua Chih,
                                <br/> Tel. 415-22-55
                                <br/> R.F.C AUGH 810802 2N9</p>
                        </address>
                    </div>
                    <div class="pull-right text-right">
                        <address>
                            <h3>FACTURAR A</h3>
                            <h4 class="font-bold">Gaala & Sons,</h4>
                            <p class="text-muted m-l-30">E 104, Dharti-2,
                                <br/> Nr' Viswakarma Temple,
                                <br/> Talaja Road,
                                <br/> Bhavnagar - 364002</p>
                            <p class="m-t-30"><b>Fecha Factura :</b> <i class="fa fa-calendar"></i> 23rd Jan 2020</p>
                            <p><b>Fecha Entrega :</b> <i class="fa fa-calendar"></i> 25th Jan 2020</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Descripcion</th>
                                    <th class="text-right">Cantidad</th>
                                    <th class="text-right">Precio Unitario</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Botas Vaqueras</td>
                                    <td class="text-right">2 </td>
                                    <td class="text-right"> $800 </td>
                                    <td class="text-right"> $1600 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Botas Rodeo</td>
                                    <td class="text-right"> 3 </td>
                                    <td class="text-right"> $500 </td>
                                    <td class="text-right"> $1500 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>Botas Picudas</td>
                                    <td class="text-right"> 1 </td>
                                    <td class="text-right"> 800 </td>
                                    <td class="text-right"> $800 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Subtotal: $3,900</p>
                        <p>IVA (16%) : $624 </p>
                        <hr>
                        <h3><b>Total :</b> $4,524</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        <button class="btn btn-danger" type="submit"> Proceder al pago </button>
                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Imprimir</span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>