<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Inventario</h4>
                <h6 class="card-subtitle">Inventario Actualizado</h6>
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID producto</th>
                                <th>Nombre Producto</th>
                                <th>Estado Actual</th>
                                <th>Existencia</th>
                                <th>Proveedor</th>
                                <th>Valor Unitario</th>
                                <th>Valor Inventario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Botas de Cocodrilo</td>
                                <td><span class="label label-danger">Urgente</span></td>
                                <td>5</td>
                                <td>Botas Chihuahua</td>
                                <td>$700.00</td>
                                <td>$3,500.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Botas Picudas</td>
                                <td><span class="label label-danger">Urgente</span></td>
                                <td>7</td>
                                <td>Botas Chihuahua</td>
                                <td>$500.00</td>
                                <td>$3,500.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Botas normales</td>
                                <td><span class="label label-success">Surtido</span></td>
                                <td>15</td>
                                <td>Botas Chihuahua</td>
                                <td>$450.00</td>
                                <td>$6,750.00</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Botas de lagarto</td>
                                <td><span class="label label-warning">Por Agotar</span></td>
                                <td>10</td>
                                <td>Botas Juarez</td>
                                <td>$1250.00</td>
                                <td>$12,500.00</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Botas de Avestruz</td>
                                <td><span class="label label-danger">Urgente</span></td>
                                <td>2</td>
                                <td>Botas Delicias</td>
                                <td>$2500.00</td>
                                <td>$5,000.00</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Botas con textura</td>
                                <td><span class="label label-danger">Urgente</span></td>
                                <td>4</td>
                                <td>Botas Chihuahua</td>
                                <td>$200.00</td>
                                <td>$800.00</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Botas de Tiburon</td>
                                <td><span class="label label-success">Surtido</span></td>
                                <td>19</td>
                                <td>Botas Veracruz</td>
                                <td>$900.00</td>
                                <td>$17,100.00</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Botas Tribaleras</td>
                                <td><span class="label label-warning">Por Agotar</span></td>
                                <td>11</td>
                                <td>Botas Monterrey</td>
                                <td>$500.00</td>
                                <td>$5,500.00</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Botas lisas</td>
                                <td><span class="label label-success">Surtido</span></td>
                                <td>18</td>
                                <td>Botas Juarez</td>
                                <td>$870.00</td>
                                <td>$15,660.00</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Botas cuadradas</td>
                                <td><span class="label label-danger">Urgente</span></td>
                                <td>0</td>
                                <td>Botas Delicias</td>
                                <td>$700.00</td>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Botas Vaqueras</td>
                                <td><span class="label label-warning">Por Agotar</span></td>
                                <td>14</td>
                                <td>Botas Chihuahua</td>
                                <td>$1500.00</td>
                                <td>$21,000.00</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Botas de rodeo</td>
                                <td><span class="label label-success">Surtido</span></td>
                                <td>27</td>
                                <td>Botas Monterrey</td>
                                <td>$890.00</td>
                                <td>$24,030.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>