<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title text-white">Ventas Totales</h4>
                        <h6 class="card-subtitle text-white">$65,292.00</h6>
                    </div>
                </div>
                <div id="spark4"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title text-white">Ventas Mes</h4>
                        <h6 class="card-subtitle text-white">$51,485.00</h6>
                    </div>
                </div>
                <div id="spark5"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-success">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title text-white">Ventas Semana</h4>
                        <h6 class="card-subtitle text-white">$12,438.00</h6>
                    </div>
                </div>
                <div id="spark6"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-warning">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title text-white">Ventas Diaria</h4>
                        <h6 class="card-subtitle text-white">$1,369.00</h6>
                    </div>
                </div>
                <div id="spark7"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>