<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title text-white">Total Sales</h4>
                        <h6 class="card-subtitle text-white">$9432</h6>
                    </div>
                    <div class="ml-auto">
                        <button type="button" class="btn btn-primary dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-settings"></i>
                            </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                        </div>
                    </div>
                </div>
                <div id="spark4"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title text-white">Monthly Sales</h4>
                        <h6 class="card-subtitle text-white">$9432</h6>
                    </div>
                    <div class="ml-auto">
                        <button type="button" class="btn btn-info dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-settings"></i>
                            </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                        </div>
                    </div>
                </div>
                <div id="spark5"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-success">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title text-white">Weekly Sales</h4>
                        <h6 class="card-subtitle text-white">$9432</h6>
                    </div>
                    <div class="ml-auto">
                        <button type="button" class="btn btn-success dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-settings"></i>
                            </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                        </div>
                    </div>
                </div>
                <div id="spark6"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-warning">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title text-white">Daily Sales</h4>
                        <h6 class="card-subtitle text-white">$9432</h6>
                    </div>
                    <div class="ml-auto">
                        <button type="button" class="btn btn-warning dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-settings"></i>
                            </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                        </div>
                    </div>
                </div>
                <div id="spark7"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>